*{
	outline: none !important;
}

@import 'base/variables';
@import 'base/mixins';

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/reviews';
@import 'blocks/goal';
@import 'blocks/buttons';
@import 'blocks/making';
@import 'blocks/about';
@import 'blocks/video';
@import 'blocks/programs';
@import 'blocks/footer';
@import 'blocks/background';
@import 'blocks/media';

.back-to-top {
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 40px;
	height: 40px;
	border-color: transparent;
	border-radius:50%;
	background-color: $main-dark;
	opacity: 0.65;
	// display: none;
	&:hover, 
	&:focus {
		filter: brightness(1.5);
		outline: none;
	}
	&::before,
	&::after {
		content:'';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&::before {
		width: 5px;
		height: 25px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		background-color: $fonts-light;
	}
	&::after {
		width: 15px;
		height: 15px;
		transform: translate(-50%, -50%) rotate(45deg);
		border-top: 5px solid #f5f0f6;
		border-left: 5px solid #f5f0f6;
	}
}