.about {
	padding: 20px 20px 10px 20px;
	&__wrapper {
		display: flex;
		justify-content: center;
	}
	&__text {
		margin-left: 20px;
		color: $main-fonts;
		font-size: 20px;
		&-bold {
			font-size: 22px;
			font-weight: 700;
		}
		a {
			color: $main-dark;
			font-style: italic;
			font-weight: 500;
		}
	}
	&__title {
		font-size: 24px;
		font-weight: 700;
	}
}