.slider {  
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    // background: url(../../img/bg3.png) center (center / cover) no-repeat ;
    &__person {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
            padding-top: 60px;
            color: $fonts-dark;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 2px;
        }
        p {
            color: $fonts-dark;
        }
    }
    &__for {
        // width: 100%;
        // height: auto;
        border: 5px solid $main;
            img {
            height: auto;
            width: 100%;
            }
    }  //высота большой картинки
    .slick-prev, .slick-next  {
        background: url(../../img/diploma/right.png);
        position: absolute;
        top: -200%;
        transform: translateY(-200%);
        left: -100px;
        border: none;
        background-color: $main;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next  {
        right: -75px;
        left: auto;
    }
}

