.btn {
	text-decoration: none;
	outline: none;
	display: inline-block;
	width: 350px;
	height: 50px;
	line-height: 50px;
	border-radius: 30px;
	margin: 20px;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	font-weight: 600;
	color: #fff;
	background-image: linear-gradient(to top,$main-light 0%, $main-dark 100%);
	box-shadow: 0 8px 15px rgba(0,0,0,.1);
	transition: .3s;
&:hover {
		background-image: linear-gradient(to top, $red 0%, $red-light 100%);
		box-shadow: 0 15px 20px rgba(220, 159, 242,.4);
		color: white;
		transform: translateY(-7px);
		text-decoration: none;
		cursor: pointer;
	}
}