.footer {
	background-color: $main-fonts;
	color: $fonts-light;
	&__wrapper {
		display: flex;
		justify-content: center;
		padding: 20px 0 15px 0;
	}
	.container {
		margin: 0 40px;
		text-align: center;
		width: 290px;
	}
	&__contacts {
		color: $fonts-light;
		font-size: 18px;
		&:hover {
			text-decoration: none;
			color: $main-light;
		}
		i {
			margin-right: 7px;
		}
	}
	&__social {
		display: flex;
		justify-content: center;
		&-item {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 10px;
			border-radius: 100%;
			&:hover {
				text-decoration: none;
			}
			i {
				color: $fonts-light;
				font-size: 50px;
			}
			.fa-instagram:hover {
				color: #3f729b;
			}
			.fa-youtube-square:hover {
				color:#c4302b;
			}
			.fa-facebook-square:hover {
				color: #3b5998;
			}
		}
	}
	&__forms {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		&-item:not(:last-child) {
			margin: 5px 0;
			width: 100%;
			height: 35px;
			border: 2px solid $fonts-light;
			border-radius: 5px;
			padding-left: 10px;
			font-size: 16px;
		}
		&-item:nth-child(5) {
			resize: none;
			height: 80px;
		}
		.btn {
			width: 100%;
			padding: 0;
			margin: 10px;
			font-size: 18px;
			border: none;
		}
	}
	&__title {
		font-size: 20px;
		margin: 0 auto;
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	&_docs {
		display: flex;
		flex-direction: column;
		align-items: center;
		&__link {
			color: $fonts-light;
			font-size: 10px;
			&:hover {
				color: $main-light;
			}
		}
		p {
			font-size: 12px;
			margin-top: 5px;
		}
	}
}

