.goal {
	background: url(../img/bg.jpg) center (center / cover) no-repeat ;
	padding: 30px 50px;
	.container {
		text-align: center;
		background: rgba(243, 239, 225, 0.75);
		padding: 20px;
		border-radius: $radius;
	}
	&__header {
		@include title-dark;
		margin-bottom: 20px;
	}
	p {
		padding: 0 40px;
		font-size: 20px;
		color: #254900;
	}
}