header {
	position: relative;
	z-index:2;
	nav {
		position: fixed;
		width: 100%;
		height: 50px;
		background-color: rgba(52, 111, 0, 0.8);
		transition: 0.4s;
		&:hover {
			background-color: rgba(52, 111, 0, 1);
		}
	}
	.menu {
		display: flex;
		justify-content: center;
		padding: 10px 20px;
		list-style-type: none;
		background-color: rgba(52, 111, 0, 0.9);
		&_link {
			color: $fonts-light;
			font-weight: 400;
			font-size: 20px;
			transition: 0.5s;
			&:hover {
				text-decoration: none;
				color: $fonts-dark;
				font-weight: 600;
				background-color:#fff;
				margin: 10px;
				padding: 3px 12px;
				border: none;
			}
		}
		&_item {
			margin: 0 15px;
		}
	}
	.dropdown {
		position: relative;
		display: inline-block;
		&-content {
			display: none;
			position: absolute;
			background-color: #fff;
			min-width: 300px;
			z-index: 1;
			margin-left: 10px;
			& a {
				color: $fonts-dark;
				font-weight: 500;
				font-size: 20px;
				padding: 12px 16px;
				text-decoration: none;
				display: block;
				&:hover {
					background-color: $main-light;
				}
			}
		}
	}
	.dropdown:hover .dropdown-content {
		display: block;
	}
}