.making {
	border-bottom: 2px solid $main-light;
	padding: 10px;
	z-index: 1;
	&__wrapper {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	&__item {
		width: 350px;
		padding: 10px;
		margin: 10px 25px;
	}
	&__header {
		color: $fonts-dark;
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 2px;
		margin-bottom: 20px;
	}
	&__text {
		color: $main-fonts;
		font-size: 18px;
	}
	li {
		position: relative;
		list-style-type: none;
		margin-top: 12px;
		&::before {
			content: ' ';
			display: block;
			position: absolute;
			background: url(../icons/valid.png) center (center / cover) no-repeat;
			left: -22px;
			top: 6px;
			width: 15px;
			height: 15px;
		}
	}
}
