@media (max-width: 1200px) {
    .making {
        &__item {
            width: 290px;
            margin: 10px 15px;
        }
    }
    .reviews {
        &__wrapper {
            flex-wrap: wrap;
            padding: 0 20px 0 20px;
        }
        &-item {
            width: 260px;
            &__text {
                p {
                    margin: 7px 0 0 0;
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .promo {
        &__header {
            font-size: 75px;
        }
        &__subheader {
            font-size: 30px;
        }
    }
    .btn {
        width: 250px;
        font-size: 17px;
    }
    .goal {
        .container {
            padding: 15px;
        }
        &__header {
            margin-bottom: 15px;
            font-size: 35px;
        }
        p {
            padding: 0 20px;
            font-size: 17px;
        }
    }
    .making {
        &__item {
            width: 270px;
            margin: 10px 15px;
        }
        &__text {
            font-size: 17px;
        }
    }
    .about {
        img {
            width: 300px;
        }
        &__text {
            font-size: 17px;
            &-title, p {
                margin-bottom: 7px;
            }
        }
    }
    .programs {
        .title {
            font-size: 35px;
        }
        &__item {
            font-size: 17px;
            padding: 15px 15px 0 15px;
            margin: 10px;
            img {
                margin-top: 5px;
                max-height: 190px;
            }
        }
        .btn {
            width: 200px;
            height: 45px;
            line-height: 45px;
            font-size: 16px;
        }
    }
    .reviews {
        &__wrapper {
            padding: 0 10px 0 10px;
        }
        &-item {
            width: 220px;
            &__text {
                p {
                    margin: 5px 0 0 0;
                    font-size: 16px;
                }
            }
        }
    }
    .footer {
        .container {
            margin: 0 15px;
            width: 220px;
        }
        &__wrapper {
            flex-wrap: wrap;
            .social {
                order: -1;
            }
        }
        &__title {
            font-size: 15px;
            margin-bottom: 15px;
        }
        &__social {
            justify-content: center;
            &-item {
                i {
                    font-size: 35px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .promo {
        &__header {
            font-size: 65px;
            margin-top: 100px;
        }
        &__subheader {
            font-size: 25px;
        }
    }
    .btn {
        width: 210px;
        height: 45px;
        line-height: 45px;
        font-size: 15px;
    }
	.menu {
        position: fixed;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 0;
		left: -100%;
		width: 50%;
		height: 100vh;
		// padding: 20px 15px;
		transition: 0.6s all;
		&_active {
            left: 0;
            font-size: 30px;
        }
		&_item {
            padding-right: 0;
			border: none;
            margin:0 10px;
        }
    }
    .hamburger {
        display: block;
		position: absolute;
		right: 10px;
		top: calc(50% - 10px);
		transform: translateY(calc(50% - 10px));
		width: 26px;
		height: 12px;
		span {
            display: block;
            margin-top: 5px;
			height: 2px;
			width: 100%;
			background-color: #fff ;
			margin-bottom: 2px;
			transition: 0.5s all;
        }
		&_active {
            span{
                margin-bottom: -2px; 
                margin-top: 0;
                &:nth-child(1) {
                    transform: translateY(10px) rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none
                }
                &:nth-child(3) {
                    transform: translateY(10px) rotate(45deg)
                }
            }
        }
    }
    .goal {
        padding: 20px;
        .container {
            padding: 10px;
        }
        &__header {
            margin-bottom: 10px;
            font-size: 30px;
        }
        p {
            padding: 0 15px;
            font-size: 15px;
        }
    }
    .making {
        &__item {
            width: 250px;
            margin: 10px;
        }
        &__text {
            font-size: 15px;
        }
        li:before {
            top: 4px;
        }
    }
    .about {
        img {
            width: 250px;
        }
        &__text {
            font-size: 15px;
            &-title, p {
                margin-bottom: 5px;
            }
        }
    }
    .video {
        padding: 20px 20px 10px 20px;
        &__trailer {
            width: 500px;
            height: 250px;
        }
    }
    .programs {
        padding: 10px;
        .title {
            font-size: 30px;
            margin: 0;
        }
        &__item {
            width: 220px;
            font-size: 15px;
            padding: 15px 15px 0 15px;
            margin: 10px;
            img {
                margin-top: 5px;
                max-height: 150px;
            }
            p {
                margin: 5px;
            }
        }
        &__title {
            font-size: 18px;
            margin: 5px;
        }
        .btn {
            width: 170px;
            height: 40px;
            line-height: 40px;
            font-size: 14px;
        }
    }
    .reviews {
        .title {
            font-size: 30px;
        }
        &__wrapper {
            padding: 0 5px 0 5px;
        }
        &-item {
            &__text {
                p {
                    font-size: 15px;
                }
            }
            &__img {
                width: 160px;
                height: 160px;
            }
        }
    }
    .footer {
        .container {
            margin: 0 5px;
            width: 220px;
        }
        &__wrapper {
            position: relative;
            .social {
                position: absolute;
                width: 100px;
                left: 10px;
                bottom: 10px;
            }
        }
        &__title {
            &-none {
                display: none;
            }
            
        }
        &__social {
            position: absolute;
            flex-direction: column;
            height: 100%;
            justify-content: flex-end;
            &-item {
                i {
                    font-size: 32px;
                    margin: 8px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        padding: 50px 0 10px 0;
    }

    .promo {
        &__header {
            margin-top: 40px;
            font-size: 45px;
        }
        &__subheader {
            font-size: 18px;
        }
    }
    .btn {
        width: 200px;
        height: 40px;
        line-height: 40px;
        font-size: 12px;
        margin: 10px;
    }
    .goal {
        padding: 15px;
        .container {
            padding: 5px;
        }
        &__header {
            margin-bottom: 5px;
            font-size: 20px;
        }
        p {
            padding: 0 10px;
            font-size: 15px;
        }
    }
    .making {
        .container {
            padding: 10px;
        }
        &__item {
            width: 100%;
            margin: 0 7px;
        }
        &__text {
            font-size: 15px;
        }
        &__header {
            font-size: 18px;
            letter-spacing: 1px;
            margin-bottom: 10px;
        }
        li:before {
            top: 5px;
            width: 13px;
            height: 13px;
        }
    }
    .about {
        .container {
            padding: 0;
        }
        &__wrapper {
            flex-direction: column;
        }
        &__img {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        img {
            width: 250px;
        }
        &__text {
            font-size: 15px;
            &-title, p {
                margin-bottom: 5px;
            }
        }
    }
    .programs {
        .container {
            padding: 0;
        }
        .title {
            font-size: 20px;
        }
        &__item {
            width: 240px;
            font-size: 15px;
            padding: 10px 10px 0 10px;
            margin: 5px;
        }
        &__title {
            font-size: 15px;
        }
    }
    .reviews {
        .container {
            padding: 0;
            margin: 0;
        }
        .title {
            font-size: 20px;
        }
        &-item {
            &__text {
                p {
                    font-size: 15px;
                }
            }
            &__img {
                width: 160px;
                height: 160px;
            }
        }
    }
    .footer {
        .container {
            margin: 0 10px;
            padding: 0;
            min-width: 300px;
        }
        &__wrapper {
            position: static;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            .social {
                position: static;
                width: 220px;
            }
        }
        &__social {
            flex-direction: row;
            position: static;
            justify-content: center;
        }
        &__title {
            margin-top: 13px;
        }
        &__contacts {
            font-size: 15px;
        }
        .btn {
            margin: 7px;
            font-size: 15px;
        }
    }
}