.promo {
	background: url(../img/bg4.png) center (center / cover) no-repeat ;
	.container {
		text-align: center;
		padding: 80px 0 20px 0;
		background: rgba(243, 239, 225, 0.75);
	}
	&__header {
		margin-top: 150px;
		font-size: 80px;
		color: #346f00;
	}
	&__subheader {
		font-size: 35px;
		margin-bottom: 50px;
		color: $main-dark;
	}
}