.programs {
	padding: 20px 20px 10px 20px;
	background-color: #e4ffaa;
	.title {
		@include title-dark;
		margin-bottom: 10px;
	}
	&__wrapper {
		display: flex;
		justify-content: center;
		flex-wrap:wrap;
	}
	&__item {
		width: 30%;
		color: $main-fonts;
		background-color: #fff;
		font-size: 18px;
		padding: 15px 20px 0 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		border: 2px solid $main-light;
		border-radius: $radius;
		margin: 15px;

		img {
			margin-top: 5px;
			max-height: 220px;
		}
	}
	&__title {
		@include title-dark;
		font-size: 22px;
		margin-bottom: 15px;
		text-decoration: underline;
		&:hover {
			cursor: pointer;
			color: $red;
		}
	}
	.btn {
		width: 250px;
		font-size: 18px;
	}
}