.reviews {
	text-align: center;
	margin-top: 20px;
	background: url(../img/bg3.png) center (center / cover) no-repeat ;
	h2 {
		@include title-dark;
	}
	&__wrapper {
		padding: 0 30px 0 30px;
		margin: 0;
		display: flex;
		justify-content: center;
	}
	&-item {
		width: 25%;
		padding: 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 400px;
		border: 2px solid $main-light;
		border-radius: $radius;
		background-color: #fff;
		margin: 10px;
		&__name {
			margin-top: 10px;
			color: $main;
			font-weight: 700;
			font-size: 22px;
		}
		&__text {
			margin-top: 10px;
			color: $main-fonts;
			font-size: 16px;
		}
		&__img{
			border-radius: 100%;
			width: 200px;
			height: 200px;
		}
	}
}
