.video {
	min-height: 600px;
	padding: 40px 40px 10px 40px;
	background: url(../img/bg1.jpg) center (center / cover) no-repeat ;
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__trailer {
		height: 525px;
		width: 700px;
	}
}